@page "/host"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

@rendermode InteractiveWebAssembly

<h3>Host</h3>

@if (IsConnected)
{
    if (currentScreen.Equals("hostScreen"))
    {
        if (pageTitle != null)
        {
            <button @onclick="StartGame">Start Game</button>
        }
        foreach(string player in players)
        {
            <ul>@player</ul>
        }
    }
    else if (currentScreen.Equals("questionScreen"))
    {
        <h3>Current Page: @pageTitle</h3>

        <p>@formattedQuestion</p>

        <button @onclick="ShowAnswer">Show Answer</button>
    }
    else if (currentScreen.Equals("answerScreen"))
    {
        <h3>Current Page: @pageTitle</h3>

        <p>Correct Answer: @formattedAnswer</p>

        if (recievedScores)
        {
            <button @onclick="ShowScores">Show Scores</button>
        }
    }
    else if (currentScreen.Equals("scoreScreen"))
    {
        <h3>Scores</h3>
        foreach (KeyValuePair<string, int> scorePair in playerScores)
        {
            <ul>@scorePair.Key : @scorePair.Value</ul>        
        
        }
        <button @onclick="SendQuestion"> Next Question</button>

    }
    else if (currentScreen.Equals("finalScoreScreen"))
    {






    }
    else
    {
        //this is only reached if there is an error    
    
    }

}
else
{
    <span>Connecting. . . </span>

}

@code {
    private string currentScreen = "hostScreen";
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string username;
    private string userCountry;
    private bool joinedLobby = false;
    private List<string> players;
    private string formattedQuestion;
    private string formattedAnswer;
    private string pageTitle;
    private int questionsPerPage = 10;
    private int currentQuestionFromPage = 0;
    private List<KeyValuePair<string, int>> playerScores;
    private bool recievedScores = false;


    protected override async Task OnInitializedAsync()
    {
        players = new();
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/playerhub"))
        .Build();



        hubConnection.On<string>("LobbyJoined", username =>
        {
            if (username.Equals("Could not resolve playerDataServices"))
                currentScreen = "Error";

            players.Add(username);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("RecievePageTitle", pageTitle =>
        {
            this.pageTitle = pageTitle;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string, string, string>("RecieveQuestionHost", (formattedQuestion, formattedAnswer, answer) =>
        {
            recievedScores = false;
            this.formattedQuestion = formattedQuestion;
            this.formattedAnswer = formattedAnswer;


            currentScreen = "questionScreen";
            InvokeAsync(StateHasChanged);
        });
        hubConnection.On<List<KeyValuePair<string, int>>>("RecieveScores", (playerScores) =>
        {
            this.playerScores = playerScores;
            recievedScores = true;

            InvokeAsync(StateHasChanged);



        });




        await hubConnection.StartAsync();
        await hubConnection.SendAsync("DeclareHost");

        await hubConnection.SendAsync("SendPageTitle");
    }


    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;



    private async void StartGame()
    {

        if (pageTitle != null)
            SendQuestion();
        else
            await hubConnection.SendAsync("SendPageTitle");

    }

    private async void SendQuestion()
    {
        if (currentQuestionFromPage < 10)
        {
            await hubConnection.SendAsync("SendQuestion", pageTitle);

            currentQuestionFromPage++;
        }
        else
        {
            await hubConnection.SendAsync("SendPageTitle");

            currentQuestionFromPage = 0;

            SendQuestion();
        }
    }

    private async void ShowAnswer()
    {
        await hubConnection.SendAsync("SendScores");
        currentScreen = "answerScreen";
        InvokeAsync(StateHasChanged);
    }

    private async void ShowScores()
    {
        currentScreen = "scoreScreen";
        InvokeAsync(StateHasChanged);

    }
}
